body {
  background-color: purple;
  background-image: url(ee40f605bfa5dc1e8619903053bf3691.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B34F;
  color: #FFF;
  font-size: 1.8em; }

